<h1>You're in default components</h1>
<div class="container">
    
    <table class="table table-hover">
        <thead>
            <tr>
                <td>ID</td>
                <td>NAME</td>
                <td>EMAIL</td>
            </tr>
            </thead>
            <tbody>
    
        
                <tr *ngFor="let item of apiData">

                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
               
            </tbody>

        </table>
    <

</div>